body {
    background-color: #E8E8E8;
    font-family: sans-serif;
}

.navigation-wrap {
    width: 100%;
    background-color: #21d192;
}

.nav-link {
    font-size: 150%;
    margin: auto 20px auto 20px;
    height: 50%;
}

.logo {
    width: 75px;
}

.parallax {
    /* The image used */
    background-image: url("../img/Massage.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: white;
    background-color: #21d192;
    padding: 20px 0 20px 0;
}

.fb-ic {
    padding-left: 30px;
    font-size: 50px;
}

.bg-groen {
    background-color: #21d192;
}

#carouselExampleIndicators {
    position: relative;
}
#copy {
    font-size: 80%;
}

#facebook {
    color: lightblue;
}

.card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}



#buttonimage {
    position: absolute;
    left: -50%;
    transition: 1s;
    position: absolute;
    top: 55%;
    background-color: #21d192;
}

#wrapper:hover #buttonimage {
    transition: 2s;
    left: 50%;
}